<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353311343572-uldmkm8l6mja4h3u8n9m3s2fq9tefsmn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353311343572-uldmkm8l6mja4h3u8n9m3s2fq9tefsmn</string>
	<key>API_KEY</key>
	<string>AIzaSyAq83qqhSkzrdrcH6XSF9j7Lm03o4F75TI</string>
	<key>GCM_SENDER_ID</key>
	<string>353311343572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boilerplateAuthCrudFirestoreBloc</string>
	<key>PROJECT_ID</key>
	<string>prova-53d3e</string>
	<key>STORAGE_BUCKET</key>
	<string>prova-53d3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353311343572:ios:843ef762d50475277ecc41</string>
	<key>DATABASE_URL</key>
	<string>https://prova-53d3e.firebaseio.com</string>
</dict>
</plist>